<h1 class="mixwell">MIXWELL</h1>
<p class="mixwell-p">Óscar "mixwell" Cañellas Colocho (born October 10, 1995) is a Spanish player who is currently
    playing for Team
    Heretics. He
    came to VALORANT from a professional competitive Counter-Strike: Global Offensive and Counter-Strike: Source career,
    being best known for his time on OpTic Gaming where he won a variety of large events, with the team peaking at #2 on
    the global HLTV rankings.</p>