<div>
    <article class="games">CSGO</article>
    <ul class="teams">
        <li>Movistar Riders</li>
        <li>OPTIC GAMING</li>
        <li>CLOUD 9</li>
        <li>G2 Esports</li>
        <li>Movistar Riders</li>
    </ul>
    <article class="games">VALORANT</article>
    <ul class="teams">
        <li>G2 Esports</li>
        <li>Team Heretics</li>
    </ul>
</div>